<div class="contact__form">
    <h5>Yorum Yap</h5>
    <form action="/Comment/CommentAddPartial" method="post">
        <input type="text" name="Name" placeholder="Adınız">      
        <textarea placeholder="Yorum" name="Yorum"></textarea>
        <button type="submit" class="site-btn">Yorum Yap</button>
    </form>
</div>