
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>ForgotPassword</title>
</head>
<body>
    <div class="container">
        <h4>ForgotPasswordModel</h4><hr />

        <div class="row">
            <div class="col-md-4 offset-4">
                @if (Model?.EmailSent == true)
                {
                    <div class="alert alert-success" role="alert">
                        <p>
                            If you are registered with us, <br />
                            We have sent an email on your registered email id
                        </p>
                    </div>
                }
                else
                {
                    <br />
                    <p>Forgot your password? No worries you can reset it easily.</p>
                    <form asp-action="ForgotPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="text" class="form-control" id="username">
                            @*<label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>*@
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Continue" class="btn btn-primary" />
                        </div>
                    </form>
                }
                <div>
                    <p>Back to  <a asp-action="Login" asp-controller="Account">Login</a></p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>