@model LoginModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="~/login-form-06/login-form-06/fonts/icomoon/style.css" rel="stylesheet" />

    <link href="~/login-form-06/login-form-06/css/owl.carousel.min.css" rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link href="~/login-form-06/login-form-06/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Style -->
    <link href="~/login-form-06/login-form-06/css/style.css" rel="stylesheet" />

    <title>Login</title>
</head>
<body>
    <br />
    <br />
    <div class="container">
        <div class="row justify-content-center">
            <div class="container">
                <div class="row align-items-center justify-content-center">
                    <div class="col-md-7">
                        <div class="w-100 text-center mt-4 text">
                            <h3>Giriş Yap</h3>
                            <p>giriş yap, indirimleri kaçırma!</p>
                        </div>
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <div class="text-danger">@ViewBag.ErrorMessage</div>
                        }
                        <form asp-controller="Account" asp-action="Login" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <input type="hidden" name="ReturnURL" value="@Model.ReturnURL" />
                            <div class="form-group first">
                                <label for="username">Kullanıcı Adı</label>
                                <input asp-for="Email" value="@Model.Email" class="form-control" id="username" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group last mb-3">
                                <label for="password">Sifre</label>
                                <input asp-for="Password" value="@Model.Password" class="form-control" id="password" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>

                            <div class="d-flex mb-5 align-items-center">
                                <label class="control control--checkbox mb-0">
                                    <span class="caption">Beni Hatırla</span>
                                    <input type="checkbox" checked="checked" />
                                    <div class="control__indicator"></div>
                                </label>
                                <span class="ml-auto"><a href="/Account/ForgotPassword/" class="forgot-pass">Sifremi Unuttum</a></span>
                            </div>

                            <input type="submit" value="Log In" class="btn btn-block btn-primary">
                            <div class="w-100 text-center mt-4 text">
                                <p class="mb-0">Bir hesabin yok mu?</p>
                                <a href="/Account/Register/">Kayit Ol</a>
                            </div>

                            <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>

                            <div class="social-login">
                                <a href="#" class="facebook btn d-flex justify-content-center align-items-center">
                                    <span class="icon-facebook mr-3"></span>Facebook ile giriş yap
                                </a>
                                <a href="#" class="twitter btn d-flex justify-content-center align-items-center">
                                    <span class="icon-twitter mr-3"></span>Twitter ile giriş yap
                                </a>
                                <a href="#" class="google btn d-flex justify-content-center align-items-center">
                                    <span class="icon-google mr-3"></span>Google ile giriş yap
                                </a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/login-form-06/login-form-06/js/jquery-3.3.1.min.js"></script>
    <script src="~/login-form-06/login-form-06/js/popper.min.js"></script>
    <script src="~/login-form-06/login-form-06/js/bootstrap.min.js"></script>
    <script src="~/login-form-06/login-form-06/js/main.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
