@model CoreEticaret.Models.ResetPasswordModel

@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <title>ResetPassword</title>
</head>
<body>
    <div class="row">
        <div class="col-md-4 offset-4">
            <div class="w-100 text-center mt-4 text">
                <h3>Şifre Yenileme</h3>
            </div>
            <hr />
            @if (Model?.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <p>
                        You have updated your password successfully.
                    </p>
                </div>
                <div>
                    <p>Back to  <a asp-action="Login" asp-controller="Account">Login</a></p>
                </div>
            }
            else
            {
                <form asp-action="ResetPassword">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UserId" class="form-control" />
                    <input type="hidden" asp-for="Token" class="form-control" />
                    <input type="hidden" asp-for="IsSuccess" class="form-control" />
                    <div class="form-group">
                        <label asp-for="NewPassword" class="control-label">New Password</label>
                        <input asp-for="NewPassword" class="form-control" />
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ConfirmNewPassword" class="control-label">Confirm New Password</label>
                        <input asp-for="ConfirmNewPassword" class="form-control" />
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset password" class="btn btn-primary" />
                    </div>
                </form>
            }
        </div>
    </div>
</body>
</html>
