
<div class="sidebar__categories">
    <div class="section-title">
        <h4>Kategoriler</h4>
    </div>
    <div class="categories__accordion">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-heading active">
                    <a data-toggle="collapse" data-target="#collapseOne">Kadın</a>
                </div>
                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                    <div class="card-body">
                        <ul>
                            <li><a href="#">Kabanlar</a></li>
                            <li><a href="#">Ceketler</a></li>
                            <li><a href="#">Elbiseler</a></li>
                            <li><a href="#">Gömlekler</a></li>
                            <li><a href="#">T-shört</a></li>
                            <li><a href="#">Kot</a></li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>