@inject Microsoft.AspNetCore.Identity.SignInManager<ApplicationUser> _signInManager

<style>
    .dropdown:hover > .dropdown-menu {
        display: block;
        padding-top: 10px;
    }

    .navbar-nav > .user-menu > .dropdown-menu > li.user-header {
        width: 220px;
    }

    .navbar-nav > .user-menu > .dropdown-menu {
        margin-top: -10px;
    }

    }
    li > a:hover{
        background-color:red;
    }
     .user-header a:hover {background-color: #ddd;}
</style>

@if (_signInManager.IsSignedIn(User))
{
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <ul style="list-style-type:none;">
        <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <span class="hidden-xs">Hesabım</span>
            </a>
            <ul class="dropdown-menu">
                <li class="user-header" style="text-align:center; padding:5px; background-color:#3A3F44;">
                    <p style="font-size:15px; color:white;">
                        @(User.FindFirst("UserFirstName").Value + " " + User.FindFirst("UserLastName").Value )
                    </p>
                </li>
                 <li class="user-header text-center"  >
                     <a style="width: 190px;" target="_blank" class="btn btn-warning" href="/Admin/AdminCategory/Index/">Admin Paneli</a>
               
                 <li class="user-header text-center">
                     <a style="width: 180px;"  class="btn btn-danger" asp-controller="Account" asp-action="Logout">Cıkış Yap</a>
                </li>
            </ul>
        </li>
        </ul>
    </div>
}
else
{
    @* <li class="nav-item">
        <a asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path" class="nav-link" style="font-size:10px;">Giriş Yap</a>
        </li>
        <li class="nav-item">
        <a asp-controller="Account" asp-action="Signup" class="nav-link">Kayıt Ol</a>
        </li>*@
    <div id="mobile-menu-wrap"></div>
    <div class="offcanvas__auth">
        <a href="/Account/Login/">Giriş Yap</a>
        <a href="/Account/Signup/">Kayıt Ol</a>
    </div>
    @*  <li class="nav-item">
        <a class="btn btn-outline-primary" asp-controller="Account" asp-action="Login" asp-route-returnUrl="@Context.Request.Path">Login</a>
        <a class="btn btn-primary" asp-controller="Account" asp-action="Signup">Register</a>
        </li>*@
}